---
layout: master
title: Ben Burwell’s Projects
description: Projects I’ve done.
---

{% for project in site.data.projects %}
{% if project.live %}
<h1><a href="{{ project.live }}">{{ project.name }}</a></h1>
{% else %}
<h1>{{ project.name }}</h1>
{% endif %}
<ul class="compressed-list">
  <li>{{ project.description }}</li>
  <li>{{ project.tech }}</li>
  {% if project.github %}
  <li><a href="https://github.com/{{ project.github }}"><i class="fa fa-github"></i> {{ project.github }}</a></li>
  {% endif %}
</ul>
{% endfor %}
