* {
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  color: $base-color;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: $alternate-color;
  }
}

// Horizontal lines
hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $muted-color;
  @include clearfix();
}

p {
  line-height: 2em;
}

li {
  margin-top: 1em;
  margin-bottom: 1em;
}

pre {
  line-height: 1.5em;
}

blockquote {
  font-style: italic;
}

.main-header {
  padding: 10px;
  text-align: center;
  font-family: $sans;
  @include gradient(lighten($brand-color, 3%), darken($brand-color, 3%));
  a {
    color: white;
    padding: 5px 15px;
    display: inline-block;

    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}
