$brand-color: #00819B;
$alternate-color: adjust-hue($brand-color, -120);
$muted-color: desaturate($brand-color, 100%);
$base-color: #222;

$base-font-size: 20px;
$sans: 'open_sans', Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
$serif: 'merriweather_light';
$monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

$container-width: 900px;
$grid-gutter: 10px;
