@import "fonts";
@import "normalize";
@import "global";
@import "960-responsive";
@import "syntax";

body {
    font-family: $serif;
    font-size: 20px;
    color: $base02;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a {
    color: $red;
    text-decoration: none;
    @include transition(color, 0.25s, linear);

    &:hover {
        color: darken($red, 15%);
    }
}

footer {
    font-family: $sans;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 0.8em;

    p {
        margin: 1em;
    }
}

header {

    font-family: $sans;

    a {
        // font-size: 1em;
        font-weight: 600;
        color: rgb(255, 255, 255);
        display: block;
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        &:hover {
            color: rgb(255, 255, 255);
        }
    }

    .projects {
        @include nav_button($blue);
    }

    .writing {
        @include nav_button($magenta);
    }

    .github {
        @include nav_button($green);
    }

    .resume {
        @include nav_button($orange);
    }
}

.about {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.portrait {
    width: 220px;
    height: 220px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/assets/images/ben_circle.png');
    background-repeat: no-repeat;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    font-size: 32px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    line-height: 1.7em;
    margin-bottom: 1.7em;
}

pre {
    margin-bottom: 1.5em;
    border-left: 3px solid $base1;
    padding-left: 1em;
}



.projects a {
    color: $blue;
    &:hover {
        color: darken($blue, 15%);
    }
}

.writing a {
    color: $magenta;
    &:hover {
        color: darken($magenta, 15%);
    }
}

.article {

    .date {
        margin-bottom: 1em;
        font-family: $sans;
        font-weight: 600;
    }

    img {
        max-width: 100%;
    }

    ul {
        list-style-type: square;
    }

    ul, ol {
        margin-left: 2em;
        margin-bottom: 1em;
    }

    code {
        font-family: $monospace;
        font-size: 0.7em;
        color: $base01;
    }
}

.social-buttons {
    float: right;
}

// &#xe601;
.icon-googleplus {
    color: $googleplus-color;
}

// &#xe602;
.icon-facebook {
    color: $facebook-color;
}

// &#xe603;
.icon-twitter {
    color: $twitter-color;
}

// &#xe604;
.icon-tumblr {
    color: $tumblr-color;
}

// &#xe605;
.icon-pinterest {
    color: $pinterest-color;
}

@media print {
    body {
        color: #000;
    }

    a {
        color: #000;
    }

    code {
        color: #999;
    }

    header, footer {
        display: none;
        visibility: hidden;
    }

    .social-buttons {
        display: none;
    }
}
