body {
  color: $gray;
}

header, footer, main {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @extend .container;
}

a {
  color: $teal;
  transition: color 0.4s ease, background-color 0.4s ease;

  &:hover {
    color: $gray;
    @extend .hilite;
  }
}

kbd {
  border-style: solid;
  border-color: $gray;
  border-width: 1px 1px 2px 1px;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 0 0.3em;
}

footer {
  @extend .center;
  font-family: $sans;
  font-size: 0.8rem;
  margin-top: 2rem;
}

header nav a {
  display: inline-block;
  font-family: $monospace;
  margin-right: 1rem;
}

time {
  color: $light-gray;
  font-family: $monospace;
}

hr {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-color: $light-gray;
}

aside {
  width: 66%;
  // text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: $light-gray;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-roman;
}

.social-icons {
  a {
    padding: 0.5em;
    color: $light-gray;
    &:hover {
      color: $gray;
      background-color: transparent;
    }
  }
}

.about pre {
  color: $light-gray;
  margin-left: 0;
  em {
    color: $gray;
    font-style: normal;
  }
}

.data-table {
  font-size: 0.8rem;
}
