@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

@mixin transition ($param, $time, $type) {
    -webkit-transition: $param $time $type;
    -moz-transition: $param $time $type;
    -o-transition: $param $time $type;
    -ms-transition: $param $time $type;
    transition: $param $time $type;
}
