@media print {

  body {
    font-size: 12pt;
    color: black;
  }

  time {
    color: black;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  .print-hide {
    display: none;
  }
}
