.hilite {
  background-color: $highlight;
}

.center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.sans {
  font-family: $sans;
}

.compressed-list li {
  margin: 0;
}
