// Colors
$teal: #00819B;
$gray: #40434E;
$light-gray: lighten($gray, 21%);
$highlight: #ffd;
$white: #fff;

// Fonts
$sans: 'open_sans', sans-serif;
$serif: 'merriweather', serif;
$monospace: 'source_code_pro', monospace;
