// Colors
$teal: #00819C;
$gray: darken(desaturate($teal, 100%), 10%);
$light-gray: lighten($gray, 30%);
$highlight: #ffd;

// Fonts
$sans: 'open_sans', sans-serif;
$serif: 'crimson_text', serif;
$monospace: 'source_code_pro', monospace;

// Layout
$container-width: 900px;
