.highlight {
    background: #ffffff;

    .c,
    .cm,
    .c1 {
        color: $base1;
        font-style: italic
    } /* Comment */

    .gr,
    .gt,
    .err {
        color: $red;
    } /* Error */

    .k {
        font-weight: bold;
    } /* Keyword */

    .o {
        font-weight: bold;
    } /* Operator */

    .cp {
        color: $base1;
        font-weight: bold;
    } /* Comment.Preproc */

    .cs {
        color: $base1;
        font-weight: bold;
        font-style: italic;
    } /* Comment.Special */

    .gd,
    .gd .x {
        color: $base03;
        background-color: $base1;
    } /* Generic.Deleted */

    .ge {
        font-style: italic;
    } /* Generic.Emph */

    .gu,
    .gh {
        color: $base1;
    } /* Generic.Heading */

    .gi .x,
    .gi {
        color: $base03;
        background-color: $base1;
    } /* Generic.Inserted */

    .go {
        color: $base1;
    } /* Generic.Output */

    .gp {
        color: $base01;
    } /* Generic.Prompt */

    .gs {
        font-weight: bold;
    } /* Generic.Strong */

    .kd,
    .kp,
    .kr,
    .kc {
        font-weight: bold;
    } /* Keyword.Constant */

    .kt {
        color: $violet;
        font-weight: bold;
    } /* Keyword.Type */

    .m {
        color: $cyan;
    } /* Literal.Number */

    .s {
        color: $magenta;
    } /* Literal.String */

    .na,
    .nb,
    .no,
    .ni,
    .nt,
    .nv {
        color: $blue;
    } /* Name.Variable */

    .nc {
        color: $blue;
        font-weight: bold;
    } /* Name.Class */

    .ne {
        color: $red;
        font-weight: bold;
    } /* Name.Exception */

    .nf {
        color: $red;
        font-weight: bold;
    } /* Name.Function */

    .nn {
        color: $base01;
    } /* Name.Namespace */

    .ow {
        font-weight: bold;
    } /* Operator.Word */

    .w {
        color: $base1;
    } /* Text.Whitespace */

    .mf,
    .mh,
    .mi,
    .mo {
        color: $cyan;
    } /* Literal.Number.Oct */

    .sb,
    .sc,
    .sd,
    .s2,
    .se,
    .sh,
    .si,
    .s1,
    .sx {
        color: $magenta;
    } /* Literal.String.Other */

    .sr,
    .ss {
        color: $green;
    } /* Literal.String.Symbol */

    .bp {
        color: $base1;
    } /* Name.Builtin.Pseudo */

    .vc,
    .vg,
    .vi {
        color: $blue;
    } /* Name.Variable.Instance */

    .il {
        color: $cyan;
    } /* Literal.Number.Integer.Long */
}
