* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'myriad-pro', sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: #2A2A2A;
}

.container {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 14px;
}

a {
    text-decoration: none;
}

p {
    padding-top: 40px;
    padding-left: 90px;
    padding-right: 90px;
}

h1 {
    width: 960px;
    height: 250px;
    background-image: -o-linear-gradient(-89deg, #C02126 0%, #4A1112 100%);
    background-image: -moz-linear-gradient(-89deg, #C02126 0%, #4A1112 100%);
    background-image: -ms-linear-gradient(-89deg, #C02126 0%, #4A1112 100%);
    background-image: linear-gradient(-179deg, #C02126 0%, #4A1112 100%);
    font-size: 72px;
    line-height: 250px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

a#install_button {
    border-radius: 10px;
    font-size: 48px;
    padding: 10px 140px;
}

.inactive {
    background-color: #AAAAAA;
    color: #cccccc;
}

.active {
    color: #FFFFFF;
    text-shadow: 0px -2px 0px rgba(0,0,0,0.50);
    background-image: -o-linear-gradient(-89deg, #86C01E 0%, #2F6F15 100%);
    background-image: -moz-linear-gradient(-89deg, #86C01E 0%, #2F6F15 100%);
    background-image: -ms-linear-gradient(-89deg, #86C01E 0%, #2F6F15 100%);
    background-image: linear-gradient(-179deg, #86C01E 0%, #2F6F15 100%);
}

.active:hover {
    background-image: -o-linear-gradient(-89deg, #2F6F15 0%, #86C01E 100%);
    background-image: -moz-linear-gradient(-89deg, #2F6F15 0%, #86C01E 100%);
    background-image: -ms-linear-gradient(-89deg, #2F6F15 0%, #86C01E 100%);
    background-image: linear-gradient(-179deg, #2F6F15 0%, #86C01E 100%);
    text-shadow: 0px 2px 0px rgba(0,0,0,0.50);
}

.active:active {
    background-image: -o-linear-gradient(-89deg, #2F6F15 0%, #86C01E 100%);
    background-image: -moz-linear-gradient(-89deg, #2F6F15 0%, #86C01E 100%);
    background-image: -ms-linear-gradient(-89deg, #2F6F15 0%, #86C01E 100%);
    background-image: linear-gradient(-179deg, #2F6F15 0%, #86C01E 100%);
    text-shadow: 0px -2px 0px rgba(0,0,0,0.50);
}

p img {
    padding: 10px;
}

.install_tagline {
    font-size: 14px;
    color: #2A2A2A;
    padding-top: 10px;
}

#safari_text, #chrome_text {
    display: none;
}

.home_link {
    font-size: 18px;
    color: #dc322f;
    letter-spacing: 1px;
    text-transform: uppercase;
}
