---
layout: master
---
<header>
  <h1><a href="../">../</a></h1>
</header>
<main>
  {{ content }}
</main>
<footer>
  <p>
    <span class="footer-link">
      <a href="/">about</a>
    </span>
    <span class="footer-link">
      <a href="/posts/">posts</a>
    </span>
    <span class="footer-link">
      <a href="/projects/">projects</a>
    </span>
    <span class="footer-link">
      <a href="https://github.com/benburwell">github</a>
    </span>
  </p>
  <p>
    <span class="footer-link">
      <a href="/license/">&copy; {{ site.time | date: '%Y' }}</a>
    </span>
    <span class="footer-link">
      <a href="/privacy/">privacy</a>
    </span>
    <span class="footer-link">
      <a href="/feed.xml">rss</a>
    </span>
  </p>
</footer>
