---
layout: master
---
<header>
  <div class="left column">
    <a href="/">benburwell.com</a>
    <a href="/posts/">posts</a>
    <a href="/projects/">projects</a>
  </div>
  <div class="right column">
    <a href="https://github.com/benburwell"><i class="lg-icon icon-github"></i></a>
    <a href="https://twitter.com/bburwell"><i class="lg-icon icon-twitter"></i></a>
  </div>
</header>
<main>
  {{ content }}
</main>
<footer>
  <a href="/license/">&copy; 2015</a> &bull; <a href="/privacy/">Privacy</a>
</footer>
