<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/assets/css/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

        <!-- Icons -->
        <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" sizes="128x128">

        <link rel="apple-touch-icon" href="/assets/images/icons/apple/apple-touch-icon-57x57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/assets/images/icons/apple/apple-touch-icon-72x72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/assets/images/icons/apple/apple-touch-icon-76x76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/assets/images/icons/apple/apple-touch-icon-114x114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/assets/images/icons/apple/apple-touch-icon-120x120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/assets/images/icons/apple/apple-touch-icon-144x144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/assets/images/icons/apple/apple-touch-icon-152x152.png" sizes="152x152">

        <!-- Generic Meta -->
        <meta name="author" content="Ben Burwell">
        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        <meta name="keywords" content="{{ site.keywords | join: ',' }}">

        <!-- OpenGraph Meta -->
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:site_name" content="Ben Burwell">
        {% if page.description %}
        <meta property="og:description" content="{{ page.description}}">
        {% else %}
        <meta property="og:description" content="{{ site.description }}">
        {% endif %}
        <meta property="og:image" content="http://www.benburwell.com/assets/images/icons/benburwell.png">
        <meta property="og:type" content="website">
        <meta property="fb:admins" content="1439777397">

        <!-- Twitter Meta -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@bburwell">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:creator" content="@bburwell">
        {% if page.description %}
        <meta property="twitter:description" content="{{ page.description}}">
        {% else %}
        <meta property="twitter:description" content="{{ site.description }}">
        {% endif %}
        <meta name="twitter:image:src" content="http://www.benburwell.com/assets/images/icons/benburwell.png">
        <meta name="twitter:domain" content="BenBurwell.com">

        <!-- TypeKit -->
        <script type="text/javascript">
            (function() {
                var config = {
                    kitId: 'xgd2xxh'
                };
                var d = false;
                var tk = document.createElement('script');
                tk.src = '//use.typekit.net/' + config.kitId + '.js';
                tk.type = 'text/javascript';
                tk.async = 'true';
                tk.onload = tk.onreadystatechange = function() {
                    var rs = this.readyState;
                    if (d || rs && rs != 'complete' && rs != 'loaded') return;
                    d = true;
                    try { Typekit.load(config); } catch (e) {}
                };
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(tk, s);
            })();
        </script>
    </head>
    <body>
        <div class="container_12">
            <header class="top_nav_bar">
                <div class="grid_3">
                    <a class="projects" href="/projects/">Projects</a>
                </div>
                <div class="grid_3">
                    <a class="writing" href="/writing/">Writing</a>
                </div>
                <div class="grid_3">
                    <a class="github" href="https://github.com/benburwell" target="_blank">GitHub</a>
                </div>
                <div class="grid_3">
                    <a class="resume" href="/assets/pdf/Ben_Burwell_Resume.pdf">Résumé</a>
                </div>
            </header>
            <main class="grid_12">

                {{ content }}

            <footer class="grid_12">
                <p>
                    <a href="/">Ben</a> / <a href="https://twitter.com/bburwell">Twitter</a> / <a href="mailto:hi@benburwell.com">Email</a>
                </p>
            </footer>
        </div>
    </body>
</html>
