<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="benburwell.com blog posts" href="/feed.xml">
    <meta name="author" content="Ben Burwell">
    <style>
      body {
        max-width: 40rem;
        padding: 1rem;
        margin: auto;
        color: #242424;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: sans-serif;
      }
      pre {
        overflow: auto;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
