---
layout: master
---

<section class="article">

    <h1>{{ page.title }}</h1>

    <div class="social-buttons">

        <!-- Twitter -->
        <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.benburwell.com{{ page.url | cgi_escape }}&amp;text={{ page.title }}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="/assets/images/icons/social/twitter.png" alt="Tweet"></a>

        <!-- Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.benburwell.com{{ page.url | cgi_escape }}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="/assets/images/icons/social/facebook.png" alt="Share on Facebook"></a>

        <!-- Google Plus -->
        <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.benburwell.com{{ page.url | cgi_escape }}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="/assets/images/icons/social/gplus.png" alt="Share on Google+"></a>

    </div>

    <div class="date">{{ page.date | date: "%A, %-d %B %Y" }}</div>

    {{ content }}

</section>
