---
layout: master
---

<article itemscope itemtype="http://schema.org/BlogPosting" class="article">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <p><time datetime="{{ post.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ page.date | date: "%A, %-d %B %Y" }}</time></p>
    </header>

    <div itemprop="articleBody">
        {{ content }}
    </div>
</article>

<div class="print-hide center">
  <p class="sans">Share on:</p>
  <p>
    <a target="_blank" href="https://news.ycombinator.com/submitlink?u=http%3A%2F%2Fwww.benburwell.com{{ page.url | cgi_escape }}&amp;t={{ page.title }}"><i class="fa fa-2x fa-hacker-news"></i></a>
    <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url=http%3A%2F%2Fwww.benburwell.com{{ page.url | cgi_escape }}"><i class="fa fa-2x fa-twitter-square"></i></a>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.benburwell.com{{ page.url | cgi_escape }}"><i class="fa fa-2x fa-facebook-square"></i></a>
    <a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.benburwell.com{{ page.url | cgi_escape }}&amp;t={{ page.title }}"><i class="fa fa-2x fa-google-plus-square"></i></a>
  </p>
</div>

<div class="print-hide">
  <div class="split">
    {% if page.previous %}
    <div class="left align-left sans">
      <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i> Older Post</a>
    </div>
    {% endif %}

    {% if page.next %}
    <div class="right align-right sans">
      <a href="{{ page.next.url }}">Newer Post <i class="fa fa-chevron-right"></i></a>
    </div>
    {% endif %}
  </div>
</div>
